static filter=lfs diff=lfs merge=lfs -text
*static/** filter=lfs diff=lfs merge=lfs -text
static/2.jpg filter=lfs diff=lfs merge=lfs -text
static/3.jpg filter=lfs diff=lfs merge=lfs -text
static/coffee-collect/03.jpg filter=lfs diff=lfs merge=lfs -text
static/header.jpg filter=lfs diff=lfs merge=lfs -text
static/coffee-collect/05.jpg filter=lfs diff=lfs merge=lfs -text
static/header-mobile.jpg filter=lfs diff=lfs merge=lfs -text
static/self.jpg filter=lfs diff=lfs merge=lfs -text
static/1.jpg filter=lfs diff=lfs merge=lfs -text
static/coffee-collect filter=lfs diff=lfs merge=lfs -text
static/coffee-collect/01.jpg filter=lfs diff=lfs merge=lfs -text
static/coffee-collect/02.jpg filter=lfs diff=lfs merge=lfs -text
static/coffee-collect/04.jpg filter=lfs diff=lfs merge=lfs -text
